<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".managers.ApplicationManager"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".activities.CreatePlacesActivity"
            android:exported="false"
            android:theme="@style/Theme.MainTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.EditStudyGroupActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.EditSpecificStudyGroupActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.EditUserActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.CreateOutgoingActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.EditRoomActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.SettingsActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.RoomRateActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.RoomPresenceActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:enableOnBackInvokedCallback="true"
            android:exported="false" />


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>